sources/aarch64-poky-linux/linux-libc-headers-5.2-r0/linux-5.2.tar.xz filter=lfs diff=lfs merge=lfs -text
sources/aarch64-poky-linux/linux-raspberrypi-1_4.14.114+gitAUTOINC+7688b39276-r0/linux-raspberrypi-1_4.14.114+gitAUTOINC+7688b39276-r0.tar.gz filter=lfs diff=lfs merge=lfs -text
